openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: |
    API Яндекс.Расписаний
    
    **Важно:** Рекомендуется использовать домен `api.rasp.yandex-net.ru` вместо `api.rasp.yandex.net`
  version: 3.0.0
servers:
  - url: https://api.rasp.yandex-net.ru
    description: Рекомендуемый сервер
  - url: https://api.rasp.yandex.net
    description: Устаревший домен (может быть недоступен)
tags:
  - name: Stations
    description: Работа со станциями
  - name: Copyright
    description: Получение данных о копирайте Яндекс.Расписаний
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
        - Stations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
        - name: apikey
          in: query
          description: API ключ доступа
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта
          required: true
          schema:
            type: number
            format: double
        - name: lng
          in: query
          description: Долгота
          required: true
          schema:
            type: number
            format: double
        - name: distance
          in: query
          description: Радиус охвата в километрах
          required: true
          schema:
            type: integer
        - name: format
          in: query
          description: Формат ответа
          required: false
          schema:
            type: string
            enum: [json, xml]
            default: json
        - name: lang
          in: query
          description: Язык ответа
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  
  /v3.0/copyright/:
    get:
      tags:
        - Copyright
      summary: Получить данные о копирайте Яндекс.Расписаний
      description: |
        Запрос позволяет получить данные о Яндекс Расписаниях: URL сервиса, баннер в различных цветовых представлениях и уведомительный текст.
        
        Все эти данные следует разместить ниже или выше места, в котором расположена информация о расписаниях, в следующем порядке:
        1. Баннер
        2. Уведомительный текст
        3. URL Яндекс Расписаний
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          description: |
            Ключ доступа к API.
            Параметр можно не передавать, если ключ доступа указан в заголовке Authorization
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа
          required: false
          schema:
            type: string
            default: json
      responses:
        "200":
          description: Успешный ответ с данными о копирайте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
              example:
                copyright:
                  logo_vm: "<iframe frameborder=\"0\" style=\"overflow: hidden; border: 0; width: 240px; height: 130px;\" src=\"//yandex.st/rasp/media/apicc/copyright_vert_mono.html\"></iframe>"
                  url: "http://rasp.yandex.ru/"
                  logo_vd: "<iframe frameborder=\"0\" style=\"overflow: hidden; border: 0; width: 240px; height: 130px;\" src=\"//yandex.st/rasp/media/apicc/copyright_vert_dark.html\"></iframe>"
                  logo_hy: "<iframe frameborder=\"0\" style=\"overflow: hidden; border: 0; width: 740px; height: 51px;\" src=\"//yandex.st/rasp/media/apicc/copyright_horiz_yellow.html\"></iframe>"
                  logo_hd: "<iframe frameborder=\"0\" style=\"overflow: hidden; border: 0; width: 740px; height: 51px;\" src=\"//yandex.st/rasp/media/apicc/copyright_horiz_dark.html\"></iframe>"
                  logo_vy: "<iframe frameborder=\"0\" style=\"overflow: hidden; border: 0; width: 240px; height: 130px;\" src=\"//yandex.st/rasp/media/apicc/copyright_vert_yellow.html\"></iframe>"
                  logo_hm: "<iframe frameborder=\"0\" style=\"overflow: hidden; border: 0; width: 740px; height: 51px;\" src=\"//yandex.st/rasp/media/apicc/copyright_horiz_mono.html\"></iframe>"
                  text: "Данные предоставлены сервисом Яндекс Расписания"
      security:
        - ApiKeyAuth: []
        - ApiKeyHeader: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Общее количество станций
        limit:
          type: integer
          description: Лимит записей на странице
        offset:
          type: integer
          description: Смещение
    
    Station:
      type: object
      properties:
        type:
          type: string
          description: Тип объекта
        title:
          type: string
          description: Полное название станции
        short_title:
          type: string
          description: Короткое название
        popular_title:
          type: string
          description: Популярное название
        code:
          type: string
          description: Код станции
        lat:
          type: number
          format: double
          description: Широта
        lng:
          type: number
          format: double
          description: Долгота
        station_type:
          type: string
          description: Тип станции
        station_type_name:
          type: string
          description: Название типа станции
        transport_type:
          type: string
          description: Тип транспорта
        distance:
          type: number
          format: double
          description: Расстояние до станции
        majority:
          type: integer
          description: Приоритет
        type_choices:
          $ref: '#/components/schemas/Schedule'
    
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
          description: URL для десктопной версии
        touch_url:
          type: string
          description: URL для мобильной версии
    
    Copyright:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/CopyrightData'
    
    CopyrightData:
      type: object
      description: Данные о копирайте Яндекс.Расписаний
      properties:
        logo_vm:
          type: string
          description: Вертикальный монохромный баннер (240x130px)
        url:
          type: string
          description: URL Яндекс Расписаний
        logo_vd:
          type: string
          description: Вертикальный черно-белый баннер (240x130px)
        logo_hy:
          type: string
          description: Горизонтальный цветной баннер (740x51px)
        logo_hd:
          type: string
          description: Горизонтальный черно-белый баннер (740x51px)
        logo_vy:
          type: string
          description: Вертикальный цветной баннер (240x130px)
        logo_hm:
          type: string
          description: Горизонтальный монохромный баннер (740x51px)
        text:
          type: string
          description: Уведомительный текст
