openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/copyright/:
    get:
      tags:
        - getCopyright
      summary: Получить данные о копирайте
      description: Ответ содержит данные о Яндекс Расписаниях (баннер, URL, уведомительный текст)
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          description: API key
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат Ответа
          required: false
          schema:
            type: string
            enum: [json, xml]
            default: json
      responses:
        "200":
          description: "Успешный ответ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
                
            
       
  
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    Copyright:
      type: object
      properties:
        logo_vm:
          type: string
          description: Вертикальный логотип на светлом фоне
        logo_vd:
          type: string
          description: Вертикальный логотип на тёмном фоне
        logo_hy:
          type: string
          description: Горизонтальный логотип на светлом фоне
        logo_hd:
          type: string
          description: Горизонтальный логотип на тёмном фоне
        logo_vy:
          type: string
          description: Вертикальный баннер на жёлтом фоне
        logo_hm:
          type: string
          description: Горизонтальный монохромный баннер
        url:
          type: string
          description: Ссылка на сайт Яндекс.Расписаний
        text:
          type: string
          description: Текст уведомления о сервисе Яндекс.Расписания

